<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OmniRed</key>
	<dict>
		<key>h</key>
		<real>0.975</real>
		<key>s</key>
		<real>0.599</real>
		<key>b</key>
		<real>0.949</real>
		<key>a</key>
		<real>1</real>
	</dict>
	<key>OmniOrange</key>
	<dict>
		<key>h</key>
		<real>0.064</real>
		<key>s</key>
		<real>0.698</real>
		<key>b</key>
		<real>1</real>
		<key>a</key>
		<real>1</real>
	</dict>
	<key>OmniYellow</key>
	<dict>
		<key>h</key>
		<real>0.122</real>
		<key>s</key>
		<real>0.83</real>
		<key>b</key>
		<real>0.87</real>
		<key>a</key>
		<integer>1</integer>
	</dict>
	<key>OmniGreen</key>
	<dict>
		<key>h</key>
		<real>0.271</real>
		<key>s</key>
		<real>0.714</real>
		<key>b</key>
		<real>0.736</real>
		<key>a</key>
		<real>1</real>
	</dict>
	<key>OmniTeal</key>
	<dict>
		<key>h</key>
		<real>0.501</real>
		<key>s</key>
		<integer>1</integer>
		<key>b</key>
		<real>0.754</real>
		<key>a</key>
		<integer>1</integer>
	</dict>
	<key>OmniBlue</key>
	<dict>
		<key>h</key>
		<real>0.588</real>
		<key>s</key>
		<real>0.755</real>
		<key>b</key>
		<real>0.929</real>
		<key>a</key>
		<real>1</real>
	</dict>
	<key>OmniPurple</key>
	<dict>
		<key>h</key>
		<real>0.75</real>
		<key>s</key>
		<real>0.609</real>
		<key>b</key>
		<real>0.863</real>
		<key>a</key>
		<real>1</real>
	</dict>
	<key>OmniGraphite</key>
	<dict>
		<key>h</key>
		<real>0.618</real>
		<key>s</key>
		<real>0.349</real>
		<key>b</key>
		<real>0.651</real>
		<key>a</key>
		<real>1</real>
	</dict>
	<key>OmniCrema</key>
	<dict>
            <key>h</key>
            <real>0.032</real>
            <key>s</key>
            <real>0.792</real>
            <key>b</key>
            <real>0.689</real>
            <key>a</key>
            <real>1</real>
	</dict>
	<key>OmniAlternateRed</key>
	<dict>
		<key>h</key>
		<real>0.975</real>
		<key>s</key>
		<real>0.75</real>
		<key>b</key>
		<real>0.949</real>
		<key>a</key>
		<real>1</real>
	</dict>
	<key>OmniAlternateYellow</key>
	<dict>
		<key>h</key>
		<real>0.122</real>
		<key>s</key>
		<real>0.8</real>
		<key>b</key>
		<real>1</real>
		<key>a</key>
		<real>1</real>
	</dict>
	<key>OmniNeutralDeemphasized</key>
	<dict>
		<key>w</key>
		<real>0.4</real>
		<key>a</key>
		<real>1</real>
	</dict>
	<key>OmniNeutralPlaceholder</key>
	<dict>
		<key>w</key>
		<real>0.65</real>
		<key>a</key>
		<real>1</real>
	</dict>
	<key>OmniNeutralLightweight</key>
	<dict>
		<key>w</key>
		<real>0.85</real>
		<key>a</key>
		<integer>1</integer>
	</dict>
	<key>OmniDelete</key>
	<dict>
		<key>h</key>
		<real>0.975</real>
		<key>s</key>
		<integer>1</integer>
		<key>b</key>
		<real>0.9</real>
		<key>a</key>
		<integer>1</integer>
	</dict>
	<key>OUILightColorLumaLimit</key>
	<real>0.4</real>
</dict>
</plist>
