<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PaddingAboveCaptionLabel</key>
	<integer>12</integer>
	<key>PaddingBetweenCaptionAndDescriptionLabels</key>
	<integer>16</integer>
	<key>PaddingBetweenDescriptionLabelAndPurchaseButtonWrapperView</key>
	<integer>24</integer>
	<key>PaddingBelowPurchaseButtonWrapperView</key>
	<integer>8</integer>
	<key>CaptionLabelCheckmarkImageCneterYOffset</key>
	<integer>0</integer>
	<key>CaptionLabelFontSize</key>
	<integer>13</integer>
	<key>DescriptionLabelFontSize</key>
	<integer>13</integer>
</dict>
</plist>
