<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.omnigroup.OSUTestApp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>OSUTestApp</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>NSMainNibFile</key>
	<string>OSUTestApp</string>
	<key>NSPrincipalClass</key>
	<string>OAApplication</string>
	<key>OFControllerClass</key>
	<string>OSUTAController</string>
        <key>OSUCheckerClass</key>
        <string>OSUTAChecker</string>

        <key>OSUSoftwareUpdateTrack</key>
        <string></string>
</dict>
</plist>
