<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a</key>
	<real>0.75</real>
	<key>c</key>
	<real>0.125</real>
	<key>k</key>
	<real>0.625</real>
	<key>m</key>
	<real>0.25</real>
	<key>y</key>
	<real>0.5</real>
</dict>
</plist>
