<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tiff</key>
	<data>
	TU0AKgAAAXT/////////////////////////////////////////////////////////
	///////////////////////////////////////yMSjcSjvDYlCsfWSSmHl7sY5jy6NM
	47b////////////cSjvFYU6ufGKVlHd8sI1kyqBM47Y598f////////////FY1Cse2KV
	k3Z+roxkyqFN4rY2+8k58cn///////////+sfWSVlHd+roxmyKBM47Y0/ss58MhA4cT/
	//////////+SmHl8sI1kyqFM47Yz/8w678dB38NI0MD///////////96so5kyqFN4rY0
	/ss678dA38NJz8BPwb3///////////9iy6NM47c2/Mk58MhB38NJz8BQwLxXsbj/////
	//////9M5LY698c58clA4cRI0MBPwb1Xsrheo7T/////////////////////////////
	//////////////////8AAA0BAAADAAAAAQALAAABAQADAAAAAQALAAABAgADAAAAAwAA
	AhYBAwADAAAAAQABAAABBgADAAAAAQACAAABEQAEAAAAAQAAAAgBEgADAAAAAQABAAAB
	FQADAAAAAQADAAABFgADAAAAAQ+DAAABFwAEAAAAAQAAAWsBHAADAAAAAQABAAABUwAD
	AAAAAwAAAhyHcwAHAAAD7AAAAiIAAAAAAAgACAAIAAEAAQABAAAD7GFwcGwCAAAAbW50
	clJHQiBYWVogB9cACAAbAAkAMQAJYWNzcEFQUEwAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAPbWAAEAAAAA0y1hcHBsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAOclhZWgAAASwAAAAUZ1hZWgAAAUAAAAAUYlhZWgAAAVQAAAAU
	d3RwdAAAAWgAAAAUY2hhZAAAAXwAAAAsclRSQwAAAagAAAAOZ1RSQwAAAbgAAAAOYlRS
	QwAAAcgAAAAOdmNndAAAAdgAAAAwbmRpbgAAAggAAAA4ZGVzYwAAAkAAAABkZHNjbQAA
	AqQAAAD6bW1vZAAAA6AAAAAoY3BydAAAA8gAAAAkWFlaIAAAAAAAAHd6AAA/WgAAAjdY
	WVogAAAAAAAAWLAAAKwFAAAWX1hZWiAAAAAAAAAmrAAAFMMAALqNWFlaIAAAAAAAAPJo
	AAEAAAABEuFzZjMyAAAAAAABDGcAAAYE///zlgAAB9sAAP0h///7wf///cIAAAOiAADD
	RWN1cnYAAAAAAAAAAQHNAABjdXJ2AAAAAAAAAAEBzQAAY3VydgAAAAAAAAABAc0AAHZj
	Z3QAAAAAAAAAAQAA0XQAAAAAAAEAAAAA0XQAAAAAAAEAAAAA0XQAAAAAAAEAAG5kaW4A
	AAAAAAAAMAAAo8AAAFfAAABKwAAAnIAAACaXAAATWwAAUEAAAFTAAAIzMwACMzMAAjMz
	ZGVzYwAAAAAAAAAKQ2luZW1hIEhEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAG1s
	dWMAAAAAAAAAEgAAAAxuYk5PAAAAEgAAAOhwdFBUAAAAEgAAAOhzdlNFAAAAEgAAAOhm
	aUZJAAAAEgAAAOhkYURLAAAAEgAAAOh6aENOAAAAEgAAAOhmckZSAAAAEgAAAOhqYUpQ
	AAAAEgAAAOhlblVTAAAAEgAAAOhwbFBMAAAAEgAAAOhwdEJSAAAAEgAAAOhlc0VTAAAA
	EgAAAOh6aFRXAAAAEgAAAOhydVJVAAAAEgAAAOhrb0tSAAAAEgAAAOhkZURFAAAAEgAA
	AOhubE5MAAAAEgAAAOhpdElUAAAAEgAAAOgAQwBpAG4AZQBtAGEAIABIAEQAAG1tb2QA
	AAAAAAAGEAAAkjICAQLHwiy9gAAAAAAAAAAAAAAAAAAAAAB0ZXh0AAAAAENvcHlyaWdo
	dCBBcHBsZSwgSW5jLiwgMjAwNwA=
	</data>
</dict>
</plist>
