<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tiff</key>
	<data>
	TU0AKgAAAO6AP+BACCQWDQeEQmCQJ/wqHQ+CwyCvMZCl1BkJucMBV0hsKOYNxwMhV0Bq
	OBgJrMOEmJQRukseOkLhOOhSNBVzhwLSUJugMhZ2hQIsYEDiWgBjGQoxoJOkMBSOhZzB
	yTyIJgN7UgHDajq0/GWZTSTSWPhudyECvJ+gd4vxfh4d0dJpk9Oqn2SfTidAd4Pu+Py2
	P1bi8f0c9rNH3aaRuchUDW0DPB+Al4P0DWpYD4hUcxsxSXYKRcJAN6P8EO99gjK2zAW1
	UE4j0cmuVbu4JhF/voBXzUu/Wv0EPG/W1Qlwl0eIcmDQEAAOAQAAAwAAAAEACwAAAQEA
	AwAAAAEACwAAAQIAAwAAAAMAAAGcAQMAAwAAAAEABQAAAQYAAwAAAAEAAgAAAREABAAA
	AAEAAAAIARIAAwAAAAEAAQAAARUAAwAAAAEAAwAAARYAAwAAAAEACwAAARcABAAAAAEA
	AADmARwAAwAAAAEAAQAAAT0AAwAAAAEAAgAAAVMAAwAAAAMAAAGih3MABwAAA+wAAAGo
	AAAAAAAIAAgACAABAAEAAQAAA+xhcHBsAgAAAG1udHJSR0IgWFlaIAfXAAgAGwAJADEA
	CWFjc3BBUFBMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD21gABAAAAANMtYXBwbAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADnJYWVoA
	AAEsAAAAFGdYWVoAAAFAAAAAFGJYWVoAAAFUAAAAFHd0cHQAAAFoAAAAFGNoYWQAAAF8
	AAAALHJUUkMAAAGoAAAADmdUUkMAAAG4AAAADmJUUkMAAAHIAAAADnZjZ3QAAAHYAAAA
	MG5kaW4AAAIIAAAAOGRlc2MAAAJAAAAAZGRzY20AAAKkAAAA+m1tb2QAAAOgAAAAKGNw
	cnQAAAPIAAAAJFhZWiAAAAAAAAB3egAAP1oAAAI3WFlaIAAAAAAAAFiwAACsBQAAFl9Y
	WVogAAAAAAAAJqwAABTDAAC6jVhZWiAAAAAAAADyaAABAAAAARLhc2YzMgAAAAAAAQxn
	AAAGBP//85YAAAfbAAD9If//+8H///3CAAADogAAw0VjdXJ2AAAAAAAAAAEBzQAAY3Vy
	dgAAAAAAAAABAc0AAGN1cnYAAAAAAAAAAQHNAAB2Y2d0AAAAAAAAAAEAANF0AAAAAAAB
	AAAAANF0AAAAAAABAAAAANF0AAAAAAABAABuZGluAAAAAAAAADAAAKPAAABXwAAASsAA
	AJyAAAAmlwAAE1sAAFBAAABUwAACMzMAAjMzAAIzM2Rlc2MAAAAAAAAACkNpbmVtYSBI
	RAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABtbHVjAAAAAAAAABIAAAAMbmJOTwAA
	ABIAAADocHRQVAAAABIAAADoc3ZTRQAAABIAAADoZmlGSQAAABIAAADoZGFESwAAABIA
	AADoemhDTgAAABIAAADoZnJGUgAAABIAAADoamFKUAAAABIAAADoZW5VUwAAABIAAADo
	cGxQTAAAABIAAADocHRCUgAAABIAAADoZXNFUwAAABIAAADoemhUVwAAABIAAADocnVS
	VQAAABIAAADoa29LUgAAABIAAADoZGVERQAAABIAAADobmxOTAAAABIAAADoaXRJVAAA
	ABIAAADoAEMAaQBuAGUAbQBhACAASABEAABtbW9kAAAAAAAABhAAAJIyAgECx8IsvYAA
	AAAAAAAAAAAAAAAAAAAAdGV4dAAAAABDb3B5cmlnaHQgQXBwbGUsIEluYy4sIDIwMDcA
	</data>
</dict>
</plist>
