<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a</key>
	<real>1</real>
	<key>b</key>
	<real>0.5</real>
	<key>g</key>
	<real>0.25</real>
	<key>r</key>
	<real>0.125</real>
</dict>
</plist>
