// Copyright 2005-2006 Omni Development, Inc.  All rights reserved.
// This software may only be used and reproduced according to the terms in the file OmniSourceLicense.html, which should be distributed with this project and can also be found at <http://www.omnigroup.com/developer/sourcecode/sourcelicense/>.
// $Header: svn+ssh://source.omnigroup.com/Source/svn/Omni/tags/OmniSourceRelease/2008-09-09/OmniGroup/Configurations/Omni-Bundle-Common.xcconfig 83993 2007-02-17 19:27:29Z bungi $

// Common settings for Bundle targets
DYLIB_CURRENT_VERSION = 1
DYLIB_COMPATIBILITY_VERSION = 1

OTHER_CFLAGS = $(value) -DOMNI_BUILDING_BUNDLE -DOMNI_BUNDLE_IDENTIFIER=@\"$(OMNI_BUNDLE_IDENTIFIER)\"
