// Copyright 2006-2017 Omni Development, Inc. All rights reserved.
// This software may only be used and reproduced according to the terms in the file OmniSourceLicense.html, which should be distributed with this project and can also be found at <http://www.omnigroup.com/developer/sourcecode/sourcelicense/>.
// $Id$

// Include private configuration variables for Omni-local builds
#include "Private/Omni-Global.xcconfig"

// Build setting overrides for the current store target
#include "Omni-Global-Common-Store.xcconfig"

// Common settings across platforms
#include "Omni-Global-Settings.xcconfig"
