// Copyright 2005-2006 Omni Development, Inc.  All rights reserved.
// This software may only be used and reproduced according to the terms in the file OmniSourceLicense.html, which should be distributed with this project and can also be found at <http://www.omnigroup.com/developer/sourcecode/sourcelicense/>.
// $Header: svn+ssh://source.omnigroup.com/Source/svn/Omni/tags/OmniSourceRelease/2008-09-09/OmniGroup/Configurations/Omni-Global-Release.xcconfig 72991 2006-03-04 01:11:23Z andrew $

// Common settings
#include "Omni-Global-Common.xcconfig"

// Common settings for Release configurations
PREBINDING = YES
COPY_PHASE_STRIP = YES
DEPLOYMENT_LOCATION = YES
DSTROOT = /
INSTALL_PATH = $(OMNI_INSTALLED_PRODUCTS)
OTHER_LDFLAGS = $(OMNI_PREBIND_FLAGS)
ARCHS = ppc i386
