// Copyright 2005-2006 Omni Development, Inc.  All rights reserved.
// This software may only be used and reproduced according to the terms in the file OmniSourceLicense.html, which should be distributed with this project and can also be found at <http://www.omnigroup.com/developer/sourcecode/sourcelicense/>.
// $Id$

// Common settings
#include "Omni-Global-Common.xcconfig"

// Common settings for Release configurations
PREBINDING = YES
COPY_PHASE_STRIP = YES
DEPLOYMENT_LOCATION = YES
DSTROOT = /
INSTALL_PATH = $(OMNI_INSTALLED_PRODUCTS)
OTHER_LDFLAGS = $(OMNI_PREBIND_FLAGS)
ARCHS = ppc i386
