// Copyright 2005-2010 Omni Development, Inc.  All rights reserved.
// This software may only be used and reproduced according to the terms in the file OmniSourceLicense.html, which should be distributed with this project and can also be found at <http://www.omnigroup.com/developer/sourcecode/sourcelicense/>.
// $Id$

// Common Application settings for building for the Mac App Store

// We currently use libcrypto to do receipt validation in Mac App Store builds. Also, link against the smaller subset of OmniSoftwareUpdate
OMNI_STORE_OTHER_LDFLAGS = $(value) -lcrypto -framework OmniSystemInfo

OMNI_STORE_BUNDLE_IDENTIFIER_SUFFIX = .MacAppStore
IS_USING_MAC_APP_STORE = YES

// We don't want separate bundle ids for variant Mac App Store apps, or we can't test In-App Purchase, etc.
OMNI_BUILD_IDENTIFIER_SUFFIX = 
