// Copyright 2005-2021 Omni Development, Inc. All rights reserved.
//
// This software may only be used and reproduced according to the terms in the file OmniSourceLicense.html, which should be distributed with this project and can also be found at <http://www.omnigroup.com/developer/sourcecode/sourcelicense/>.

// Common settings for building for the Mac App Store

#include "Omni-Global-Common-MacAppStore.xcconfig"

OMNI_STORE_PREPROCESSOR_DEFINITIONS = MAC_APP_STORE=1 MAC_APP_STORE_ENTERPRISE=1 MAC_APP_STORE_RETAIL_DEMO=1
OMNI_STORE_SWIFT_FLAGS = -DMAC_APP_STORE -DMAC_APP_STORE_ENTERPRISE -DMAC_APP_STORE_RETAIL_DEMO
OMNI_STORE_BUNDLE_IDENTIFIER_SUFFIX = .retaildemo
OMNI_STORE_IDENTIFIER_SUFFIX = $(OMNI_STORE_BUNDLE_IDENTIFIER_SUFFIX)
