// Copyright 2006-2007 Omni Development, Inc.  All rights reserved.
// This software may only be used and reproduced according to the terms in the file OmniSourceLicense.html, which should be distributed with this project and can also be found at <http://www.omnigroup.com/developer/sourcecode/sourcelicense/>.
// $Id$

// Common settings

FRAMEWORK_SEARCH_PATHS = $(value) /Library/Frameworks
BZ2_LDFLAGS = -lbz2

// Make CG and NS geometry types be the same.
OTHER_CFLAGS = $(value) -DNS_BUILD_32_LIKE_64
	
// Keep precomps in the build dir so that switching branches/products doesn't confuse the precomp builds
SHARED_PRECOMPS_DIR = $(CONFIGURATION_BUILD_DIR)/SharedPrecompiledHeaders

GCC_PREFIX_HEADER = $(PROJECT_NAME)_Prefix.h
GCC_PRECOMPILE_PREFIX_HEADER = YES

YACC = /usr/bin/bison
YACCFLAGS = -y
LEX_SUPPRESS_DEFAULT_RULE = YES

WARNING_CFLAGS = -Wall -Wno-#warnings -Wno-trigraphs -Winit-self
GCC_OPTIMIZATION_LEVEL = 2
GCC_MODEL_TUNING = G5
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_TREAT_WARNINGS_AS_ERRORS = YES
GCC_ENABLE_OBJC_EXCEPTIONS = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = NO
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_WARN_SHADOW = NO
GCC_WARN_FOUR_CHARACTER_CONSTANTS = NO
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = YES

ZERO_LINK = NO
INSTALL_MODE_FLAG = a+rX
PREBINDING = NO
COPY_PHASE_STRIP = NO

// When preprocessing the Info.plist file, don't filter out comments or process trigraphs.  (We don't want "http://www.omnigroup.com/" to become "http://", nor do we want "????" to be interpreted as a trigraph.)
INFOPLIST_OTHER_PREPROCESSOR_FLAGS = -traditional-cpp -C -I$PROJECT_DERIVED_FILE_DIR

// Xcode 3.1 converts .strings files to UTF-16 by default, which breaks our localization process.
STRINGS_FILE_OUTPUT_ENCODING = UTF-8

#include "Omni-Global-Common-10.5.xcconfig"
