// Copyright 2005-2006 Omni Development, Inc.  All rights reserved.
// This software may only be used and reproduced according to the terms in the file OmniSourceLicense.html, which should be distributed with this project and can also be found at <http://www.omnigroup.com/developer/sourcecode/sourcelicense/>.
// $Id$

// Common settings for Tool targets
#include "Omni-Tool-Common.xcconfig"

// Common settings for Coverage configurations of Tool targets
