// Copyright 2015-2019 Omni Development, Inc. All rights reserved.
// This software may only be used and reproduced according to the terms in the file OmniSourceLicense.html, which should be distributed with this project and can also be found at <http://www.omnigroup.com/developer/sourcecode/sourcelicense/>.
// $Id$

// Common settings for all Mac bundle targets
#include "Omni-Bundle-Common.xcconfig"

// Turn on Swift embedding since we'll likely have Swift code in some/all of the frameworks we are testing. The Swift libraries will be copied to Foo.xctest/Contents/Frameworks, and the executable is xctest, so we need to use @loader_path to find them
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
LD_RUNPATH_SEARCH_PATHS = $(value) @loader_path/../Frameworks @executable_path/../Frameworks

// Disable the hardened runtime by default in all our unit test bundles (overriding the general Mac setting)
ENABLE_HARDENED_RUNTIME = NO
