// Copyright 2006 Omni Development, Inc.  All rights reserved.
// This software may only be used and reproduced according to the terms in the file OmniSourceLicense.html, which should be distributed with this project and can also be found at <http://www.omnigroup.com/developer/sourcecode/sourcelicense/>.
// $Header: svn+ssh://source.omnigroup.com/Source/svn/Omni/branches/MacOSX-10.4/OmniGroup/Configurations/Omni-Global-Common.xcconfig 72081 2006-01-30 18:48:41Z kc $

// Common settings for 10.3 builds
// Support 10.3.9 on PowerPC
SDKROOT_ppc = /Developer/SDKs/MacOSX10.3.9.sdk
MACOSX_DEPLOYMENT_TARGET_ppc = 10.3
