// Copyright 2006-2010 Omni Development, Inc.  All rights reserved.
// This software may only be used and reproduced according to the terms in the file OmniSourceLicense.html, which should be distributed with this project and can also be found at <http://www.omnigroup.com/developer/sourcecode/sourcelicense/>.
// $Id$

// Don't build ppc variants
VALID_ARCHS = x86_64 i386
ARCHS = $(VALID_ARCHS)

// Consider locally installed Mac frameworks
FRAMEWORK_SEARCH_PATHS = $(value) /Library/Frameworks

// The Mac has both 64- and 32-bit architectures. Turning this on globally results in only spurious warnings on iPhone OS when implicitly converting from double to float.
GCC_WARN_64_TO_32_BIT_CONVERSION = YES

// libbz2 is present, but the headers aren't (its considered private API) on iPhone OS, so only define this here instead of globally.
BZ2_LDFLAGS = -lbz2

// We require 10.6 on the Mac now for all projects.
SDKROOT = macosx10.6 
MACOSX_DEPLOYMENT_TARGET = 10.6

// Don't install every single thing we build. Lots of bundles and tools, in particular, are included as resources of frameworks and apps.
SKIP_INSTALL = YES

// We don't strip in Xcode for release.  We have a custom version of strip and do it during packaing so that we can keep an unstripped copy of the app.
//STRIPFLAGS = -urSX
UNSTRIPPED_PRODUCT = YES
COPY_PHASE_STRIP = NO

// Xcode 3.1 converts .strings files to UTF-16 by default, which breaks our localization process.
STRINGS_FILE_OUTPUT_ENCODING = UTF-8

// Don't strip nibs/xibs:  it makes life difficult for our localizers
IBC_STRIP_NIBS = NO;
IBC_FLATTEN_NIBS = NO;
