// Copyright 2006-2010 Omni Development, Inc.  All rights reserved.
// This software may only be used and reproduced according to the terms in the file OmniSourceLicense.html, which should be distributed with this project and can also be found at <http://www.omnigroup.com/developer/sourcecode/sourcelicense/>.
// $Id$

// We were setting this for all build types on iPhone/iPad. Necessary, or only do it for Debug like on the Mac?
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

// We let Xcode strip -- presumably for signing
COPY_PHASE_STRIP = YES

// Use the latest iOS SDK with a specific deployment target
SDKROOT = iphoneos
IPHONEOS_DEPLOYMENT_TARGET = 4.2

// iPhone OS 3.2+ only supports armv7. If we have a target that wants armv6 it'll already need to override the SDK to be 3.1.
ARCHS[sdk=iphoneos*] = armv7
VALID_ARCHS[sdk=iphoneos*] = armv7

// Unlike gcc and llvm-gcc, clang emits ObjC runtime info for class extensions conforming to protocols. Also, clang has more warning checks than gcc.
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
