// Copyright 2005-2006 Omni Development, Inc.  All rights reserved.
// This software may only be used and reproduced according to the terms in the file OmniSourceLicense.html, which should be distributed with this project and can also be found at <http://www.omnigroup.com/developer/sourcecode/sourcelicense/>.
// $Id$

// Common settings for Framework targets
#include "Touch-Framework-Common.xcconfig"

// On iOS, frameworks have to get copied into the bundle for all builds, but we need to do the install anyway to get the dSYM packaged
SKIP_INSTALL = NO
COPY_PHASE_STRIP = NO
STRIP_INSTALLED_PRODUCT = YES

// iOS builds default to leaving these in Release-iphoneos, but our PackageApplication script likes them all at the same level with the app and app extension symbols
DWARF_DSYM_FILE_SHOULD_ACCOMPANY_PRODUCT = YES
