// Copyright 2005-2016 Omni Development, Inc. All rights reserved.
// This software may only be used and reproduced according to the terms in the file OmniSourceLicense.html, which should be distributed with this project and can also be found at <http://www.omnigroup.com/developer/sourcecode/sourcelicense/>.
// $Id$

// Common settings for all watchOS targets
#include "Target-Watch-Common.xcconfig"

// Common settings for Bundle targets
DYLIB_CURRENT_VERSION = 1
DYLIB_COMPATIBILITY_VERSION = 1

OMNI_TARGET_COMMON_PREPROCESSOR_DEFINITIONS = OMNI_BUILDING_FOR_WATCHOS OMNI_BUILDING_FRAMEWORK_OR_BUNDLE
OMNI_TARGET_COMMON_SWIFT_FLAGS = -DOMNI_BUILDING_FOR_WATCHOS -DOMNI_BUILDING_FRAMEWORK_OR_BUNDLE

LD_RUNPATH_SEARCH_PATHS = $(value) @executable_path/Frameworks
OTHER_LDFLAGS = $(value) -ObjC
