// Copyright 2005-2016 Omni Development, Inc. All rights reserved.
// This software may only be used and reproduced according to the terms in the file OmniSourceLicense.html, which should be distributed with this project and can also be found at <http://www.omnigroup.com/developer/sourcecode/sourcelicense/>.
// $Id$

// Common settings for Framework targets
#include "Watch-Framework-Common.xcconfig"

// iOS builds default to leaving these in Release-iphoneos, but our PackageApplication script likes them all at the same level with the app and app extension symbols
DWARF_DSYM_FILE_SHOULD_ACCOMPANY_PRODUCT = YES
