<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>InspectorBarStyle</key>
        <integer>1</integer>
        <key>InspectorBackgroundColor</key>
        <dict>
            <key>w</key>
            <real>0.12</real>
            <key>a</key>
            <real>1</real>
        </dict>
        <key>InspectorSeparatorColor</key>
        <dict>
            <key>w</key>
            <real>0.35</real>
            <key>a</key>
            <real>1</real>
        </dict>
        <key>InspectorDisabledTextColor</key>
        <dict>
            <key>w</key>
            <real>0.55</real>
            <key>a</key>
            <real>1</real>
        </dict>
        <key>InspectorTextColor</key>
        <dict>
            <key>w</key>
            <real>0.45</real>
            <key>a</key>
            <real>1</real>
        </dict>
        <key>PaddingSliceColor</key>
        <dict>
            <key>w</key>
            <real>0.5</real>
            <key>a</key>
            <real>1</real>
        </dict>
        <key>PopoverBackgroundColor</key>
        <dict>
            <key>w</key>
            <real>0.25</real>
            <key>a</key>
            <real>1</real>
        </dict>
        <key>SearchBarFieldBackgroundColor</key>
        <dict>
            <key>h</key>
            <real>0</real>
            <key>s</key>
            <integer>0</integer>
            <key>b</key>
            <real>0.137</real>
            <key>a</key>
            <real>1</real>
        </dict>
        <key>SearchBarBarTintColor</key>
        <dict>
            <key>h</key>
            <real>0</real>
            <key>s</key>
            <integer>0</integer>
            <key>b</key>
            <real>0.27</real>
            <key>a</key>
            <real>1</real>
        </dict>
        <key>HorizontalTabBottomStrokeColor</key>
        <dict>
            <key>w</key>
            <real>0.4</real>
            <key>a</key>
            <real>1</real>
        </dict>
        <key>HorizontalTabSeparatorTopColor</key>
        <dict>
            <key>w</key>
            <real>0.12</real>
            <key>a</key>
            <real>1</real>
        </dict>
        <key>TableCellBackgroundColor</key>
        <dict>
            <key>w</key>
            <real>0.15</real>
            <key>a</key>
            <real>1</real>
        </dict>
        <key>TableCellSelectedBackgroundColor</key>
        <dict>
            <key>w</key>
            <real>1</real>
            <key>a</key>
            <real>.2</real>
        </dict>
        <key>TableCellDetailTextLabelColor</key>
        <dict>
            <key>w</key>
            <real>.37</real>
            <key>a</key>
            <real>1</real>
        </dict>
        <key>TableCellDisclosureTint</key>
        <dict>
            <key>w</key>
            <real>0.5</real>
            <key>a</key>
            <real>1</real>
        </dict>
        <key>TableCellTextColor</key>
        <dict>
            <key>w</key>
            <real>.64</real>
            <key>a</key>
            <real>1</real>
        </dict>
        <key>TableViewSeparatorColor</key>
        <dict>
            <key>w</key>
            <real>0.27</real>
            <key>a</key>
            <real>1</real>
        </dict>
    </dict>
</plist>
