<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>omniRedColor</key>
	<dict>
		<key>h</key>
		<real>0.975</real>
		<key>s</key>
		<real>0.72</real>
		<key>b</key>
		<real>0.78</real>
		<key>a</key>
		<real>1</real>
	</dict>
	<key>omniOrangeColor</key>
	<dict>
		<key>h</key>
		<real>0.064</real>
		<key>s</key>
		<real>0.75</real>
		<key>b</key>
		<real>0.83</real>
		<key>a</key>
		<real>1</real>
	</dict>
	<key>omniYellowColor</key>
	<dict>
		<key>h</key>
		<real>0.129</real>
		<key>s</key>
		<real>1</real>
		<key>b</key>
		<real>0.81</real>
		<key>a</key>
		<integer>1</integer>
	</dict>
	<key>omniGreenColor</key>
	<dict>
		<key>h</key>
		<real>0.271</real>
		<key>s</key>
		<real>0.65</real>
		<key>b</key>
		<real>0.62</real>
		<key>a</key>
		<real>1</real>
	</dict>
	<key>omniTealColor</key>
	<dict>
		<key>h</key>
		<real>0.500</real>
		<key>s</key>
		<integer>1</integer>
		<key>b</key>
		<real>0.65</real>
		<key>a</key>
		<integer>1</integer>
	</dict>
	<key>omniBlueColor</key>
	<dict>
		<key>h</key>
		<real>0.588</real>
		<key>s</key>
		<real>0.70</real>
		<key>b</key>
		<real>0.77</real>
		<key>a</key>
		<real>1</real>
	</dict>
	<key>omniPurpleColor</key>
	<dict>
		<key>h</key>
		<real>0.750</real>
		<key>s</key>
		<real>0.52</real>
		<key>b</key>
		<real>0.68</real>
		<key>a</key>
		<real>1</real>
	</dict>
	<key>omniGraphiteColor</key>
	<dict>
		<key>h</key>
		<real>0.618</real>
		<key>s</key>
		<real>0.35</real>
		<key>b</key>
		<real>0.65</real>
		<key>a</key>
		<real>1</real>
	</dict>
	<key>omniCremaColor</key>
	<dict>
		<key>h</key>
		<real>0.030</real>
		<key>s</key>
		<real>0.75</real>
		<key>b</key>
		<real>0.67</real>
		<key>a</key>
		<real>1</real>
	</dict>
	<key>omniAlternateRedColor</key>
	<dict>
		<key>h</key>
		<real>0.975</real>
		<key>s</key>
		<real>1</real>
		<key>b</key>
		<real>0.9</real>
		<key>a</key>
		<real>1</real>
	</dict>
	<key>omniAlternateYellowColor</key>
	<dict>
		<key>h</key>
		<real>0.126</real>
		<key>s</key>
		<real>0.75</real>
		<key>b</key>
		<real>1</real>
		<key>a</key>
		<real>1</real>
	</dict>
	<key>omniNeutralDeemphasizedColor</key>
	<dict>
		<key>w</key>
		<real>0.44</real>
		<key>a</key>
		<real>1</real>
	</dict>
	<key>omniNeutralPlaceholderColor</key>
	<dict>
		<key>w</key>
		<real>0.30</real>
		<key>a</key>
		<real>1</real>
	</dict>
	<key>omniNeutralLightweightColor</key>
	<dict>
		<key>w</key>
		<real>0.20</real>
		<key>a</key>
		<integer>1</integer>
	</dict>
    <key>textColorForDarkBackgroundColor</key>
    <dict>
        <key>h</key>
        <real>0.0</real>
        <key>s</key>
        <real>0.0</real>
        <key>b</key>
        <real>1.0</real>
        <key>a</key>
        <real>1.0</real>
    </dict>
	<key>omniDeleteColor</key>
	<dict>
		<key>h</key>
		<real>0.975</real>
		<key>s</key>
		<real>0.9</real>
		<key>b</key>
		<real>0.9</real>
		<key>a</key>
		<integer>1</integer>
	</dict>
	<key>omniExplanotextColor</key>
	<dict>
		<key>h</key>
		<real>0.667</real>
		<key>s</key>
		<real>0.053</real>
		<key>b</key>
		<real>0.373</real>
		<key>a</key>
		<integer>1</integer>
	</dict>
        <key>mailBlueColor</key>
        <dict>
            <key>h</key>
            <real>0.59</real>
            <key>s</key>
            <real>0.92</real>
            <key>b</key>
            <real>0.98</real>
            <key>a</key>
            <integer>1</integer>
        </dict>

</dict>
</plist>
