<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>OWF</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string></string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2003</string>
	<key>OFRegistrations</key>
	<dict>
		<key>NSUserDefaults</key>
		<dict>
			<key>defaultsDictionary</key>
			<dict>
				<key>OW5AddressShortcuts</key>
				<dict>
					<key>bing@</key>
					<dict>
						<key>format</key>
						<string>http://www.bing.com/search?q=%@</string>
						<key>method</key>
						<string>GET</string>
						<key>name</key>
						<string>Bing</string>
					</dict>
					<key>ddg@</key>
					<dict>
						<key>format</key>
						<string>https://duckduckgo.com/?q=%@</string>
						<key>method</key>
						<string>GET</string>
						<key>name</key>
						<string>DuckDuckGo</string>
					</dict>
					<key>google@</key>
					<dict>
						<key>format</key>
						<string>http://www.google.com/search?ie=utf8&amp;oe=utf8&amp;q=%@</string>
						<key>method</key>
						<string>GET</string>
						<key>name</key>
						<string>Google</string>
					</dict>
					<key>imdb@</key>
					<dict>
						<key>encoding</key>
						<string>application/x-www-form-urlencoded</string>
						<key>format</key>
						<string>http://www.imdb.com/Find?select=All&amp;for=%@</string>
						<key>method</key>
						<string>POST</string>
						<key>name</key>
						<string>Internet Movie Database</string>
					</dict>
					<key>localhost</key>
					<dict>
						<key>format</key>
						<string>http://localhost/</string>
						<key>method</key>
						<string>GET</string>
						<key>name</key>
						<string>localhost</string>
					</dict>
					<key>vt@</key>
					<dict>
						<key>format</key>
						<string>http://www.versiontracker.com/php/search.php?mode=basic&amp;action=search&amp;str=%@&amp;plt[]=macosx</string>
						<key>method</key>
						<string>GET</string>
						<key>name</key>
						<string>VersionTracker</string>
					</dict>
					<key>w3</key>
					<dict>
						<key>format</key>
						<string>http://www.w3.org/</string>
						<key>method</key>
						<string>GET</string>
						<key>name</key>
						<string>W3C</string>
					</dict>
					<key>weather@</key>
					<dict>
						<key>format</key>
						<string>http://www.weather.com/search/enhanced?where=%@&amp;what=WeatherLocalUndeclared&amp;lswe=&amp;lswa=&amp;whatprefs=</string>
						<key>method</key>
						<string>GET</string>
						<key>name</key>
						<string>Weather.com</string>
					</dict>
					<key>www</key>
					<dict>
						<key>format</key>
						<string>http://www/</string>
						<key>method</key>
						<string>GET</string>
						<key>name</key>
						<string>www</string>
					</dict>
				</dict>
				<key>OWAcceptCookies</key>
				<true/>
				<key>OWAddressFilteringEnabled</key>
				<false/>
				<key>OWAddressesToAllow</key>
				<array/>
				<key>OWAddressesToFilter</key>
				<array>
					<string>/ads\..*\.net/</string>
					<string>/ads\..*\.com/</string>
					<string>/.*\.doubleclick\.net/</string>
				</array>
				<key>OWBrowserIdentity</key>
				<string>OmniWeb</string>
				<key>OWCacheValidation</key>
				<string>unless-explicit-control</string>
				<key>OWContentTypeExpirationTimeIntervals</key>
				<dict>
					<key>DocumentTitle/Guess</key>
					<string>NeverExpire</string>
					<key>DocumentTitle/Real</key>
					<string>NeverExpire</string>
					<key>ObjectStream/OWFileInfoList</key>
					<real>15</real>
					<key>ObjectStream/OWNewsgroupHeaderList</key>
					<real>600</real>
					<key>ObjectStream/SGML</key>
					<real>15</real>
					<key>Omni/AllocationZone</key>
					<real>20</real>
					<key>Omni/Animation</key>
					<real>600</real>
					<key>Omni/Document</key>
					<real>30</real>
					<key>Omni/Image</key>
					<real>600</real>
					<key>Omni/ImageMapSet</key>
					<real>30</real>
					<key>Omni/OWNewsArticle</key>
					<real>30</real>
					<key>Omni/ProcessedSource</key>
					<integer>300</integer>
					<key>Omni/ScriptBlock</key>
					<integer>600</integer>
					<key>Omni/Source</key>
					<integer>300</integer>
					<key>Omni/TextSignature</key>
					<integer>60</integer>
					<key>TimeStamp/LastChanged</key>
					<string>NeverExpire</string>
					<key>_version_</key>
					<integer>2</integer>
					<key>omni/request-string</key>
					<integer>120</integer>
					<key>omni/response-headers</key>
					<integer>120</integer>
				</dict>
				<key>OWDirectoryIndexFilename</key>
				<string>index.html</string>
				<key>OWDiskCacheLimit</key>
				<integer>10</integer>
				<key>OWExpireCookiesAtEndOfSession</key>
				<false/>
				<key>OWFTPAnonymousPassword</key>
				<string>OmniWeb@</string>
				<key>OWFTPSessionTimeout</key>
				<real>120</real>
				<key>OWFileRefreshInterval</key>
				<real>0.125</real>
				<key>OWHTMLCharsetInMetaTag</key>
				<true/>
				<key>OWHTMLNetscapeCompatibleComments</key>
				<true/>
				<key>OWHTMLNetscapeCompatibleNewlineAfterEntity</key>
				<true/>
				<key>OWHTMLNetscapeCompatibleNonterminatedEntities</key>
				<false/>
				<key>OWHTTPAcceptCharsetHeader</key>
				<string>iso-8859-1, utf-8, iso-10646-ucs-2, macintosh, windows-1252, *</string>
				<key>OWHTTPDebug</key>
				<false/>
				<key>OWHTTPEnablePipelinedRequests</key>
				<true/>
				<key>OWHTTPFakeAcceptHeader</key>
				<true/>
				<key>OWHTTPMaximumNumberOfRequestsToPipeline</key>
				<integer>1</integer>
				<key>OWHTTPMaximumSessionsPerServer</key>
				<integer>1</integer>
				<key>OWHTTPSessionAcceptLanguageIncludeFallback</key>
				<false/>
				<key>OWHTTPSessionLanguageLimit</key>
				<integer>1</integer>
				<key>OWHTTPSessionSendAcceptLanguageHeader</key>
				<true/>
				<key>OWHTTPSessionTimeout</key>
				<real>120</real>
				<key>OWHTTPTrustServerContentType</key>
				<false/>
				<key>OWHideOmniWebUserAgentInfo</key>
				<false/>
				<key>OWIncomingStringEncoding</key>
				<string>iana WINDOWS-1252</string>
				<key>OWLibraryDirectory</key>
				<string>~/Library/Application Support/OmniWeb 6</string>
				<key>OWMaximumValidityPeriod</key>
				<integer>86400</integer>
				<key>OWNNTPServerHost</key>
				<string>news</string>
				<key>OWNNTPServerPort</key>
				<integer>119</integer>
				<key>OWNNTPSessionTimeout</key>
				<real>120</real>
				<key>OWNonProxiableSchemes</key>
				<array>
					<string>dtd</string>
					<string>file</string>
					<string>javascript</string>
					<string>mailto</string>
					<string>omniweb</string>
					<string>rlogin</string>
					<string>telnet</string>
					<string>tn3270</string>
				</array>
				<key>OWOutgoingStringEncoding</key>
				<string>0</string>
				<key>OWPrivateBrowsingEnabled</key>
				<false/>
				<key>OWProcessorThreadCount</key>
				<integer>4</integer>
				<key>OWProportionalExpirationFactor</key>
				<real>0.09375</real>
				<key>OWProxyServers</key>
				<array/>
				<key>OWRejectThirdPartyCookies</key>
				<false/>
				<key>OWRetainProcessedSource</key>
				<true/>
				<key>OWShortTopLevelDomains</key>
				<array>
					<string>com</string>
					<string>edu</string>
					<string>net</string>
					<string>org</string>
					<string>gov</string>
					<string>mil</string>
					<string>int</string>
					<string>de</string>
				</array>
				<key>OWURLFakeRootURLs</key>
				<array/>
				<key>OWURLNetscapeCompatibleRelativeAddresses</key>
				<true/>
				<key>OWUseCP1252ForLatin1</key>
				<true/>
			</dict>
		</dict>
		<key>OWContentInfo</key>
		<dict>
			<key>Closing</key>
			<dict>
				<key>maximumSimultaneousThreadsInGroup</key>
				<integer>1</integer>
				<key>priority</key>
				<integer>3200</integer>
			</dict>
		</dict>
		<key>OWContentType</key>
		<dict>
			<key>aliases</key>
			<dict>
				<key>application/postscript</key>
				<array>
					<string>application/x-postscript</string>
					<string>application/x-postscript-not-eps</string>
				</array>
				<key>application/rtf</key>
				<string>application/x-rtf</string>
				<key>application/x-macbinary</key>
				<array>
					<string>application/mac-binary</string>
					<string>application/macbinary</string>
				</array>
				<key>audio/wav</key>
				<string>audio/x-wav</string>
				<key>audio/x-aiff</key>
				<string>audio/aiff</string>
				<key>audio/x-midi</key>
				<array>
					<string>audio/midi</string>
					<string>audio/mid</string>
				</array>
				<key>audio/x-scpls</key>
				<string>audio/scpls</string>
				<key>encoding/compress</key>
				<string>encoding/x-compress</string>
				<key>encoding/gzip</key>
				<string>encoding/x-gzip</string>
				<key>encoding/identity</key>
				<array>
					<string>encoding/8bit</string>
					<string>encoding/7bit</string>
					<string>encoding/binary</string>
					<string>encoding/none</string>
				</array>
				<key>image/jpeg</key>
				<string>image/pjpeg</string>
				<key>image/tiff</key>
				<string>image/x-tiff</string>
				<key>image/x-eps</key>
				<string>image/eps</string>
				<key>image/x-ico</key>
				<array>
					<string>image/x-icon</string>
				</array>
				<key>image/x-rgb</key>
				<string>image/x-sgi</string>
				<key>image/xbm</key>
				<array>
					<string>image/x-bitmap</string>
					<string>image/x-xbitmap</string>
				</array>
				<key>multipart/x-tar</key>
				<string>application/x-tar</string>
			</dict>
			<key>extensions</key>
			<dict>
				<key>application/java-vm</key>
				<string>class</string>
				<key>application/oda</key>
				<string>oda</string>
				<key>application/pdf</key>
				<string>pdf</string>
				<key>application/postscript</key>
				<string>ps</string>
				<key>application/rdf+xml</key>
				<string>rss</string>
				<key>application/rtf</key>
				<string>rtf</string>
				<key>application/x-director</key>
				<string>dcr</string>
				<key>application/x-dvi</key>
				<string>dvi</string>
				<key>application/x-java-jnlp-file</key>
				<string>jnlp</string>
				<key>application/x-omniweb-workspace</key>
				<string>owworkspace</string>
				<key>application/x-stuffit</key>
				<array>
					<string>sit</string>
					<string>bin</string>
					<string>hqx</string>
				</array>
				<key>application/x-tex</key>
				<string>tex</string>
				<key>application/x-texinfo</key>
				<string>texinfo</string>
				<key>application/x-url</key>
				<string>url</string>
				<key>audio/basic</key>
				<array>
					<string>au</string>
					<string>snd</string>
				</array>
				<key>audio/wav</key>
				<string>wav</string>
				<key>audio/x-scpls</key>
				<string>pls</string>
				<key>encoding/compress</key>
				<string>Z</string>
				<key>encoding/gzip</key>
				<string>gz</string>
				<key>image/cmu-raster</key>
				<string>ras</string>
				<key>image/gif</key>
				<string>gif</string>
				<key>image/jp2</key>
				<string>jp2</string>
				<key>image/jpeg</key>
				<array>
					<string>jpg</string>
					<string>jpeg</string>
					<string>jfif</string>
					<string>pjpeg</string>
				</array>
				<key>image/pict</key>
				<array>
					<string>pict</string>
					<string>pct</string>
					<string>pic</string>
				</array>
				<key>image/png</key>
				<string>png</string>
				<key>image/tiff</key>
				<array>
					<string>tiff</string>
					<string>tif</string>
				</array>
				<key>image/x-eps</key>
				<string>eps</string>
				<key>image/x-ico</key>
				<string>ico</string>
				<key>image/x-macpaint</key>
				<array>
					<string>pntg</string>
					<string>pnt</string>
					<string>mac</string>
				</array>
				<key>image/x-photoshop</key>
				<string>psd</string>
				<key>image/x-portable-anymap</key>
				<string>pnm</string>
				<key>image/x-portable-bitmap</key>
				<string>pbm</string>
				<key>image/x-portable-graymap</key>
				<string>pgm</string>
				<key>image/x-portable-pixmap</key>
				<string>ppm</string>
				<key>image/x-quicktime</key>
				<array>
					<string>qtif</string>
					<string>qti</string>
				</array>
				<key>image/x-rgb</key>
				<string>rgb</string>
				<key>image/x-targa</key>
				<string>tga</string>
				<key>image/x-xwindowdump</key>
				<string>xwd</string>
				<key>image/xbm</key>
				<string>xbm</string>
				<key>image/xpm</key>
				<string>xpm</string>
				<key>multipart/x-mixed-replace</key>
				<string>multipart</string>
				<key>multipart/x-tar</key>
				<string>tar</string>
				<key>multipart/x-tar-gz</key>
				<array>
					<string>tgz</string>
					<string>taz</string>
				</array>
				<key>text/css</key>
				<string>css</string>
				<key>text/html</key>
				<array>
					<string>html</string>
					<string>htm</string>
					<string>html3</string>
					<string>ht3</string>
				</array>
				<key>text/x-vCalendar</key>
				<array>
					<string>ics</string>
				</array>
				<key>video/mpeg</key>
				<array>
					<string>mpeg</string>
					<string>mpg</string>
				</array>
				<key>video/quicktime</key>
				<string>mov</string>
			</dict>
			<key>flags</key>
			<dict>
				<key>application/x-url</key>
				<string>boring</string>
				<key>application/x-xml-url</key>
				<string>boring</string>
				<key>image/cmu-raster</key>
				<string>boring</string>
				<key>image/x-alias</key>
				<string>boring</string>
				<key>image/x-amigaiff</key>
				<string>boring</string>
				<key>image/x-avs</key>
				<string>boring</string>
				<key>image/x-bitmap</key>
				<string>boring</string>
				<key>image/x-bm</key>
				<string>boring</string>
				<key>image/x-bmp</key>
				<string>boring</string>
				<key>image/x-cur</key>
				<string>boring</string>
				<key>image/x-cursor</key>
				<string>boring</string>
				<key>image/x-df</key>
				<string>boring</string>
				<key>image/x-eps</key>
				<string>boring</string>
				<key>image/x-giff</key>
				<string>boring</string>
				<key>image/x-hdf</key>
				<string>boring</string>
				<key>image/x-ico</key>
				<string>boring</string>
				<key>image/x-icon</key>
				<string>boring</string>
				<key>image/x-iff</key>
				<string>boring</string>
				<key>image/x-iris</key>
				<string>boring</string>
				<key>image/x-ivb</key>
				<string>boring</string>
				<key>image/x-jff</key>
				<string>boring</string>
				<key>image/x-macp</key>
				<string>boring</string>
				<key>image/x-mpnt</key>
				<string>boring</string>
				<key>image/x-ncsa</key>
				<string>boring</string>
				<key>image/x-pcc</key>
				<string>boring</string>
				<key>image/x-pcd</key>
				<string>boring</string>
				<key>image/x-pcx</key>
				<string>boring</string>
				<key>image/x-pic</key>
				<string>boring</string>
				<key>image/x-picio</key>
				<string>boring</string>
				<key>image/x-pict</key>
				<string>boring</string>
				<key>image/x-pict2</key>
				<string>boring</string>
				<key>image/x-pix</key>
				<string>boring</string>
				<key>image/x-pixar</key>
				<string>boring</string>
				<key>image/x-png</key>
				<string>boring</string>
				<key>image/x-pntg</key>
				<string>boring</string>
				<key>image/x-portable-bitmap</key>
				<string>boring</string>
				<key>image/x-portable-graymap</key>
				<string>boring</string>
				<key>image/x-portable-pixmap</key>
				<string>boring</string>
				<key>image/x-pr</key>
				<string>boring</string>
				<key>image/x-rgb</key>
				<string>boring</string>
				<key>image/x-rla</key>
				<string>boring</string>
				<key>image/x-rlb</key>
				<string>boring</string>
				<key>image/x-rle</key>
				<string>boring</string>
				<key>image/x-rpbm</key>
				<string>boring</string>
				<key>image/x-rpgm</key>
				<string>boring</string>
				<key>image/x-rpnm</key>
				<string>boring</string>
				<key>image/x-rppm</key>
				<string>boring</string>
				<key>image/x-scr</key>
				<string>boring</string>
				<key>image/x-sgi</key>
				<string>boring</string>
				<key>image/x-sr</key>
				<string>boring</string>
				<key>image/x-sun</key>
				<string>boring</string>
				<key>image/x-suniff</key>
				<string>boring</string>
				<key>image/x-synu</key>
				<string>boring</string>
				<key>image/x-taac</key>
				<string>boring</string>
				<key>image/x-tga</key>
				<string>boring</string>
				<key>image/x-vda</key>
				<string>boring</string>
				<key>image/x-viff</key>
				<string>boring</string>
				<key>image/x-x</key>
				<string>boring</string>
				<key>image/x-x11</key>
				<string>boring</string>
				<key>image/x-xv</key>
				<string>boring</string>
				<key>image/x-xwindowdump</key>
				<string>boring</string>
				<key>www/unknown</key>
				<string>private</string>
			</dict>
			<key>guesses</key>
			<dict>
				<key>application/java-vm</key>
				<dict>
					<key>prefix</key>
					<data>
					yv66vg==
					</data>
				</dict>
				<key>application/pdf</key>
				<dict>
					<key>prefix</key>
					<data>
					JVBERg==
					</data>
				</dict>
				<key>application/ps</key>
				<dict>
					<key>prefix</key>
					<data>
					JSFQUw==
					</data>
				</dict>
				<key>application/rdf+xml</key>
				<dict>
					<key>anywhere</key>
					<array>
						<string>&lt;rss&gt;</string>
						<string>&lt;rss </string>
						<string>&lt;RSS&gt;</string>
						<string>&lt;RSS </string>
					</array>
					<key>lookahead</key>
					<integer>100</integer>
				</dict>
				<key>application/x-stuffit</key>
				<dict>
					<key>prefix</key>
					<string>(This file must be converted with BinHex 4.0)</string>
				</dict>
				<key>application/xml</key>
				<dict>
					<key>prefix</key>
					<data>
					PD94bWw=
					</data>
				</dict>
				<key>audio/basic</key>
				<dict>
					<key>prefix</key>
					<data>
					LnNuZA==
					</data>
				</dict>
				<key>audio/wav</key>
				<dict>
					<key>mask</key>
					<data>
					/////wAAAAD/////
					</data>
					<key>prefix</key>
					<data>
					UklGRgAAAABXQVZF
					</data>
				</dict>
				<key>audio/x-scpls</key>
				<dict>
					<key>prefix</key>
					<array>
						<string>[playlist]</string>
					</array>
				</dict>
				<key>encoding/compress</key>
				<dict>
					<key>prefix</key>
					<data>
					H50=
					</data>
				</dict>
				<key>encoding/gzip</key>
				<dict>
					<key>prefix</key>
					<data>
					H4s=
					</data>
				</dict>
				<key>image/gif</key>
				<dict>
					<key>mask</key>
					<data>
					//////D/
					</data>
					<key>prefix</key>
					<data>
					R0lGODBh
					</data>
				</dict>
				<key>image/jpeg</key>
				<dict>
					<key>mask</key>
					<data>
					/////wAA/////w==
					</data>
					<key>prefix</key>
					<data>
					/9j/4AAASkZJRg==
					</data>
				</dict>
				<key>image/png</key>
				<dict>
					<key>prefix</key>
					<data>
					iVBORw0KGgo=
					</data>
				</dict>
				<key>image/tiff</key>
				<dict>
					<key>prefix</key>
					<data>
					TU0A
					</data>
				</dict>
				<key>image/x-ico</key>
				<dict>
					<key>mask</key>
					<data>
					/////wD/AAAA/w==
					</data>
					<key>prefix</key>
					<data>
					AAABAAAAAAAAAA==
					</data>
				</dict>
				<key>image/xbm</key>
				<dict>
					<key>anywhere</key>
					<array>
						<string>_width</string>
						<string>_bits</string>
					</array>
				</dict>
				<key>multipart/x-tar</key>
				<dict>
					<key>anywhere</key>
					<array>
						<data>
						dXN0YXIA
						</data>
						<data>
						dXN0YXIgIAA=
						</data>
					</array>
				</dict>
				<key>text/html</key>
				<dict>
					<key>anywhere</key>
					<array>
						<string>&lt;html&gt;</string>
						<string>&lt;HTML&gt;</string>
						<string>&lt;head&gt;</string>
						<string>&lt;HEAD&gt;</string>
						<string>&lt;title&gt;</string>
						<string>&lt;TITLE&gt;</string>
						<string>&lt;body&gt;</string>
						<string>&lt;BODY&gt;</string>
						<string>&lt;script</string>
						<string>&lt;SCRIPT</string>
					</array>
					<key>lookahead</key>
					<integer>200</integer>
					<key>prefix</key>
					<array>
						<string>&lt;!DOCTYPE</string>
					</array>
				</dict>
				<key>text/x-vCalendar</key>
				<dict>
					<key>prefix</key>
					<array>
						<string>BEGIN:VCALENDAR</string>
					</array>
				</dict>
				<key>video/quicktime</key>
				<dict>
					<key>anywhere</key>
					<array>
						<data>
						bW9vdg==
						</data>
						<data>
						bWRhdA==
						</data>
					</array>
					<key>lookahead</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>hfsCreators</key>
			<dict>
				<key>application/quicken</key>
				<string>INTU</string>
				<key>application/vnd.intu.qfx</key>
				<string>INTU</string>
				<key>application/x-macbinary</key>
				<string>SITx</string>
				<key>application/x-pn-realmedia</key>
				<string>PNst</string>
				<key>application/x-qfx</key>
				<string>INTU</string>
				<key>audio/x-pn-realaudio</key>
				<string>PNst</string>
			</dict>
			<key>hfsTypes</key>
			<dict>
				<key>application/java-vm</key>
				<string>Clss</string>
				<key>application/pdf</key>
				<string>PDF </string>
				<key>application/quicken</key>
				<string>WBCN</string>
				<key>application/vnd.intu.qfx</key>
				<string>WBCN</string>
				<key>application/x-macbinary</key>
				<string>BINA</string>
				<key>application/x-pn-realmedia</key>
				<string>PNRM</string>
				<key>application/x-qfx</key>
				<string>WBCN</string>
				<key>application/x-stuffit</key>
				<string>SITD</string>
				<key>application/x-url</key>
				<string>LINK</string>
				<key>application/x-xml-url</key>
				<string>ilht</string>
				<key>audio/basic</key>
				<string>ULAW</string>
				<key>audio/mpeg</key>
				<string>MP3 </string>
				<key>audio/wav</key>
				<string>WAVE</string>
				<key>audio/x-pn-realaudio</key>
				<string>PNRA</string>
				<key>image/gif</key>
				<string>GIFf</string>
				<key>image/jpeg</key>
				<string>JPEG</string>
				<key>image/pict</key>
				<string>PICT</string>
				<key>image/png</key>
				<string>PNGf</string>
				<key>image/tiff</key>
				<string>TIFF</string>
				<key>image/x-eps</key>
				<string>EPSF</string>
				<key>image/x-xwindowdump</key>
				<string>XWDd</string>
				<key>multipart/x-tar</key>
				<string>TARF</string>
				<key>video/mpeg</key>
				<string>MPEG</string>
				<key>video/quicktime</key>
				<string>MooV</string>
				<key>video/x-msvideo</key>
				<string>VfW</string>
			</dict>
			<key>icons</key>
			<dict>
				<key>application/pdf</key>
				<string>smallPS</string>
				<key>application/postscript</key>
				<string>smallPS</string>
				<key>application/x-stuffit</key>
				<string>smallPackage</string>
				<key>audio/basic</key>
				<string>smallSND</string>
				<key>encoding/compress</key>
				<string>smallPackage</string>
				<key>encoding/gzip</key>
				<string>smallPackage</string>
				<key>image/cmu-raster</key>
				<string>smallImage</string>
				<key>image/gif</key>
				<string>smallImage</string>
				<key>image/jpeg</key>
				<string>smallImage</string>
				<key>image/png</key>
				<string>smallImage</string>
				<key>image/tiff</key>
				<string>smallImage</string>
				<key>image/x-eps</key>
				<string>smallImage</string>
				<key>image/x-ico</key>
				<string>smallImage</string>
				<key>image/x-portable-anymap</key>
				<string>smallImage</string>
				<key>image/x-portable-bitmap</key>
				<string>smallImage</string>
				<key>image/x-portable-graymap</key>
				<string>smallImage</string>
				<key>image/x-portable-pixmap</key>
				<string>smallImage</string>
				<key>image/x-rgb</key>
				<string>smallImage</string>
				<key>image/x-xwindowdump</key>
				<string>smallImage</string>
				<key>image/xbm</key>
				<string>smallImage</string>
				<key>image/xpm</key>
				<string>smallImage</string>
				<key>multipart/x-mixed-replace</key>
				<string>smallMovie</string>
				<key>multipart/x-tar</key>
				<string>smallPackage</string>
				<key>objectstream/bookmarkList</key>
				<string>URL_Openbook</string>
				<key>objectstream/sgml</key>
				<string>smallLink</string>
				<key>objectstream/sgml-frames</key>
				<string>smallLink</string>
				<key>omni/document</key>
				<string>smallLink</string>
				<key>omni/image</key>
				<string>smallImage</string>
				<key>omni/searchshelf</key>
				<string>URL_OpenIndex</string>
				<key>text/html</key>
				<string>smallLink</string>
				<key>video/mpeg</key>
				<string>smallMovie</string>
				<key>video/quicktime</key>
				<string>smallMovie</string>
			</dict>
		</dict>
		<key>OWHTTPSession</key>
		<dict>
			<key>dateFormats</key>
			<dict>
				<key>preferredDateFormat</key>
				<string>%a, %d %b %Y %H:%M:%S %Z</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
