<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>${PRODUCT_NAME}</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>${PRODUCT_NAME}</string>
    <key>CFBundleVersion</key>
    <string>${OSUInstallerPrivilegedHelperVersion}</string>
    <key>SMAuthorizedClients</key>
    <array>
<!--
#ifdef DEBUG
  -->
        <string>identifier com.omnigroup.OmniSoftwareUpdate.OSUInstallerService and anchor apple generic and certificate leaf[subject.CN] = "Mac Developer:"*</string>
<!--
#endif
  -->
        <string>identifier com.omnigroup.OmniSoftwareUpdate.OSUInstallerService and anchor apple generic and certificate leaf[subject.CN] = "Developer ID Application: The Omni Group"</string>
    </array>
</dict>
</plist>
