(
    /*
        Workarounds for buggy servers. Each entry contains some number of keys which determine the applicability of that entry to a given request, and some number of keys which modify the behavior of the protocol processor.
        Note: ALL ENTRIES IN THIS FILE MUST BE MARKED WITH THEIR CORRESPONDING BUGSNACKER NUMBERS, so that we can remove them when possible.
        
        $Id$
    */
    
    
    {
        // OBS #9460: Yahoo Groups is sending us a garbled 'gzip' stream. (12th June 2003, wiml)
        domainSuffix = "groups.yahoo.com";
        suppressAcceptEncoding = 1;
    }

)

