// Copyright 2008 Omni Development, Inc.  All rights reserved.
// This software may only be used and reproduced according to the terms in the file OmniSourceLicense.html, which should be distributed with this project and can also be found at <http://www.omnigroup.com/developer/sourcecode/sourcelicense/>.
// $Header: svn+ssh://source.omnigroup.com/Source/svn/Omni/branches/OmniFocus/1.x/OmniGroup/Configurations/Omni-Global-Debug.xcconfig 92887 2007-10-16 09:44:23Z bungi $

// Common settings
#include "Omni-Global-Common.xcconfig"

// Common settings for Debug configurations
GCC_PREPROCESSOR_DEFINITIONS = DEBUG DEBUG_$(USER)

// When debugging, sometimes it's helpful to turn off optimizations by uncommenting these lines.
// GCC_OPTIMIZATION_LEVEL = 0
// GCC_WARN_UNINITIALIZED_AUTOS = NO

ONLY_ACTIVE_ARCH = YES
