<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OALightColorLumaLimit</key>
	<real>0.4</real>
	<key>OASelectionBorderColorAlphaPercentage</key>
	<integer>50</integer>
	<key>OASelectionGradientStartingGrayBlendPercentage</key>
	<integer>55</integer>
	<key>OASelectionGradientEndingGrayBlendPercentage</key>
	<integer>65</integer>
	<key>OASelectionGradientGrayColor</key>
	<dict>
		<key>white</key>
		<integer>237</integer>
	</dict>
	<key>OAInactiveSelectionGradientStartColor</key>
	<dict>
		<key>hue</key>
		<integer>210</integer>
		<key>saturation</key>
		<integer>5</integer>
		<key>brightness</key>
		<integer>83</integer>
	</dict>
	<key>OAInactiveSelectionGradientEndColor</key>
	<dict>
		<key>hue</key>
		<integer>210</integer>
		<key>saturation</key>
		<integer>5</integer>
		<key>brightness</key>
		<integer>78</integer>
	</dict>
	<key>OAInactiveSelectionBorderColor</key>
	<dict>
		<key>hue</key>
		<integer>210</integer>
		<key>saturation</key>
		<integer>5</integer>
		<key>brightness</key>
		<integer>65</integer>
	</dict>
	<key>OASidebarFontColor</key>
	<dict>
		<key>white</key>
		<integer>38</integer>
	</dict>
	<key>OASidebarHeaderTitleColor</key>
	<dict>
		<key>hue</key>
		<integer>211</integer>
		<key>saturation</key>
		<string>14</string>
		<key>brightness</key>
		<string>37</string>
	</dict>
	<key>OASidebarInactiveHeaderTitleColor</key>
	<dict>
		<key>hue</key>
		<integer>211</integer>
		<key>saturation</key>
		<string>14</string>
		<key>brightness</key>
		<string>37</string>
	</dict>
	<key>OASidebarSelectedHeaderTitleColor</key>
	<dict>
		<key>hue</key>
		<integer>218</integer>
		<key>saturation</key>
		<string>85</string>
		<key>brightness</key>
		<string>75</string>
	</dict>
	<key>OASidebarInactivateSelectedHeaderTitleColor</key>
	<dict>
		<key>hue</key>
		<integer>211</integer>
		<key>saturation</key>
		<string>14</string>
		<key>brightness</key>
		<string>37</string>
	</dict>
	<key>OASidebarBackgroundColor</key>
	<dict>
		<key>hue</key>
		<integer>213</integer>
		<key>saturation</key>
		<string>5</string>
		<key>brightness</key>
		<string>90</string>
	</dict>
</dict>
</plist>
