<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cgFloat</key>
	<real>1.3</real>
	<key>string</key>
	<string>forsooth</string>
	<key>float_</key>
	<real>1.23</real>
	<key>double_</key>
	<real>2.245</real>
	<key>integer</key>
	<integer>3</integer>
	<key>bool_</key>
	<true/>
	<key>size</key>
	<dict>
		<key>width</key>
		<integer>10</integer>
		<key>height</key>
		<integer>20</integer>
	</dict>
	<key>insets</key>
	<dict>
		<key>top</key>
		<integer>1</integer>
		<key>left</key>
		<integer>2</integer>
		<key>bottom</key>
		<integer>3</integer>
		<key>right</key>
		<integer>4</integer>
	</dict>
	<key>colorWithWhite</key>
	<dict>
		<key>w</key>
		<real>0.5</real>
		<key>a</key>
		<real>0.25</real>
	</dict>
	<key>colorWithRGB</key>
	<dict>
		<key>r</key>
		<real>0.125</real>
		<key>g</key>
		<real>0.25</real>
		<key>b</key>
		<real>0.5</real>
		<key>a</key>
		<real>0.75</real>
	</dict>
	<key>colorWithHSB</key>
	<dict>
		<key>h</key>
		<real>0.125</real>
		<key>s</key>
		<real>0.25</real>
		<key>b</key>
		<real>0.5</real>
		<key>a</key>
		<real>0.75</real>
	</dict>
	<key>imageWithString</key>
	<string>NSApplicationIcon</string>
	<key>imageWithName</key>
	<dict>
		<key>name</key>
		<string>NSApplicationIcon</string>
	</dict>
	<key>imageWithNameAndBundle</key>
	<dict>
		<key>name</key>
		<string>testImage</string>
		<key>bundle</key>
		<string>self</string>
	</dict>
	<key>imageWithNameAndColor</key>
	<dict>
		<key>name</key>
		<string>NSApplicationIcon</string>
		<key>color</key>
		<string>colorWithRGB</string>
	</dict>
	<key>dictionary</key>
	<dict>
		<key>a</key>
		<string>apple</string>
		<key>b</key>
		<string>banana</string>
	</dict>
	<key>Parent</key>
	<dict>
		<key>Child1</key>
		<integer>213</integer>
		<key>Child2</key>
		<integer>601</integer>
	</dict>
	<key>OAAppearanceAliases</key>
	<dict>
		<key>testAlias</key>
		<string>Parent.Child1</string>
	</dict>
</dict>
</plist>
